.app__home {
  h2 {
    @apply mt-32 text-center;
  }
  form {
    @apply m-auto;
    width: 300px;
  }
}

.world-card__list {
  @apply flex flex-wrap gap-4 justify-center
}

.world-card {
  @apply border p-4 rounded text-center;
  &__map {
    width: 200px;
    height: 200px;
    background: no-repeat center;
    background-size: contain;
  }
}