.multi-tracker {
  overflow: auto;
  &__grids {
    @apply flex flex-wrap justify-center items-center m-auto mt-16;
    font-size: 4rem;
    gap: 32px;
    height: 375px * 2 + 64px; /* double gap just in case */
    width: 375px * 2 + 64px; /* double gap just in case */
  }
  &__buttons {
    @apply flex justify-between;
  }
}