body.theme-dark_mode .modal.-modal-dark .modal-content {
  background: #111;
}

.world-select {
  form {
    @apply m-auto;
    width: 450px;
    .form-group____root > .input-wrapper {
      @apply flex gap-2;
    }
    .form-group__sort_by, .form-group__difficulty {
      .ur-dropdown {
        @apply cursor-pointer flex gap-2;
      }
    }
    .form-group__search {
      @apply flex-grow relative;
      flex-basis: 196px;
      input {
        @apply pl-8;
      }
      &:before {
        @apply absolute;
        content: "\f002";
        font-family: FontAwesome;
        left: 0.75rem;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
    .form-group__sort_by {
      flex-basis: 115px;
    }
    .form-group__difficulty {
      flex-basis: 145px;
    }
  }
}

.world-card__list {
  @apply flex flex-wrap gap-4 justify-center
}

.world-card {
  @apply flex gap-4 p-1 rounded;
  background: var(--bg);
  &__map {
    @apply rounded;
    width: 200px;
    height: 200px;
    background: black no-repeat center;
    background-size: contain;
  }
  &__details {
    @apply flex flex-col justify-between pr-2 py-1;
    width: 200px;
  }
  &__title {
    @apply font-bold text-xl;
  }
}
