@import "./sm.scss";

.viewer-toolbar, .viewer-panel__buttons {
  bottom: 0;
  display: flex;
  font-size: 2rem;
  left: 0;
  position: fixed;
  .fa {
    font-size: 1.5rem;
  }
}

.hover-box {
  border: var(--border-width) solid white;
  position: absolute;
}

.item-box {
  border: var(--border-width) solid white;
  cursor: pointer;
  position: absolute;
}

.selected-item {
  background: white;
  border-radius: 0.25rem;
  cursor: default;
  padding: 0.5rem;
  .fa-trash {
    cursor: pointer;
  }
  &__picker {
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 16rem;
    .sm-item {
      cursor: pointer;
      &.-selected {
        outline: 3px solid black;
      }
    }
  }
}

.viewer-panel__buttons {
  left: unset;
  right: 0;
  .btn {
    position: relative;
    .flaire {
      align-items: center;
      background: red;
      border-radius: 100%;
      display: flex;
      font-size: 0.5em;
      height: 1.5em;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5em;
    }
  }
}

.viewer-panel {
  background: white;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 52px;
  position: absolute;
  right: 0;
  width: 300px;
  &.-tracker {
    height: 200px;
    font-size: 2rem;
    padding: 1rem;
    width: 430px;
  }
  &.-list {
    top: 0;
  }
  .tracker__grid {
    .tracker__row {
      display: flex;
      gap: 0.25rem;
      margin-bottom: 0.5rem;
      .sm-item {
        position: relative;
        filter: grayscale(1);
        opacity: 0.5;
        &.has {
          filter: unset;
          opacity: unset;
        }
        .flaire {
          background: black;
          bottom: 0;
          color: white;
          font-size: 0.4em;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}

.sprite-gallery {
  font-size: 3rem;
  .modal-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}