@import "./sm.scss";
@import "./z-index";

.app-wrapper {
  @apply flex flex-col;
  height: 100vh;
  width: 100vw;
}

.viewer-wrapper, .osd-wrapper {
  @apply h-full w-full;
}

.viewer-wrapper {
  @apply flex
}

.osd-panel {
  @apply relative w-96;
  &__inner {
    @apply absolute flex flex-col inset-0;
    overflow: auto;
  }
  &__title {
    @apply text-lg p-4;
  }
  &__item {
    @apply gap-2;
  }
  &__item-icon {
    font-size: 2rem;
  }
  &__action-list {
    max-height: 6rem;
    overflow: scroll;
  }
}

.btn-group .btn {
  @apply rounded-none;
  &:first-child {
    @apply rounded-l;
  }
  &:last-child {
    @apply rounded-r;
  }
}

.btn.-mini {
  @apply p-1;
  user-select:none;
}

.osd-panel, .html-overlay {
  &__target-number {
    @apply bg-blue-500 flex h-6 items-center justify-center rounded-full w-6;
    &.fa-check {
      @apply bg-green-500;
    }
    &.fa-close {
      @apply bg-red-500;
    }
  }
}

.html-overlay__target-number {
  position: relative;
  top: 1rem;
}

.viewer-toolbar, .viewer-panel__buttons {
  @apply bottom-0 fixed flex left-0;
  font-size: 2rem;
  .fa {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

.viewer-toolbar {
  @apply flex-col;
  &__row {
    @apply flex;
  }
  &__tool {
    @apply flex relative;
    &:hover .viewer-toolbar__children {
      @apply flex;
    }
  }
  .btn {
    @apply relative;
  }
  &__debug {
    @apply absolute -bg-bg p-2;
    bottom: 100%;
    font-size: 1rem;
  }
  &__hover {
    @apply absolute flex-col hidden left-0;
    bottom: 100%;
    @apply p-4;
    background: var(--bg);
    font-size: 1rem;
  }
  .btn:hover &__hover {
    @apply flex;
  }
  .flaire {
    @apply absolute bg-blue-700 bottom-0 flex h-4 items-center justify-center right-0 rounded-full  w-4;
    font-size: 0.75rem;
  }
}

.hover-box {
  border: var(--border-width) solid white;
  position: absolute;
}

.selected-item {
  @apply -bg-bg rounded p-2;
  cursor: default;
  .fa-trash {
    cursor: pointer;
  }
  &__picker {
    @apply flex flex-wrap gap-2;
    font-size: 2rem;
    width: 16rem;
    .sm-item, .sm-map, .sm-boss {
      cursor: pointer;
      &.-selected {
        outline: 3px solid var(--text-alt);
      }
    }
    &.-boss {
      font-size: 1rem;
      width: 300px;
    }
  }
}

.viewer-panel__buttons {
  left: unset;
  right: 0;
  .btn {
    position: relative;
    .flaire {
      @apply absolute flex items-center justify-center right-0 top-0;
      background: red;
      border-radius: 100%;
      font-size: 0.5em;
      height: 1.5em;
      width: 1.5em;
    }
  }
}

.viewer-panel {
  background: var(--bg);
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 52px;
  position: absolute;
  right: 0;
  width: 300px;
  &.-tracker {
    height: 200px;
    font-size: 2rem;
    padding: 1rem;
    width: 430px;
  }
  &.-item, &.-map, &.-boss, &.-room {
    top: 0;
  }
  .list-group-item {
    gap: 0.5rem;
  }
}

.inventory {
  font-size: 1.8rem;
  .inventory__row {
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    .sm-item {
      position: relative;
      filter: grayscale(1);
      opacity: 0.5;
      &.has {
        filter: unset;
        opacity: unset;
      }
      .flaire {
        background: black;
        bottom: 0;
        font-size: 0.4em;
        position: absolute;
        right: 0;
      }
    }
  }
}

.sprite-gallery {
  font-size: 3rem;
  .modal-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.osd {
  &__svg {
    pointer-events: none;
  }
  &__mouse-tracker {
    inset: 0;
  }
  &__drag-box {
    border: var(--border-width) solid white;
    position: absolute;
  }
}


.html-overlay__screen-mask {
  @apply absolute;
  background: red; /* This should never appear! */
  &.-black {
    @apply bg-black;
  }
  &.-outline-blue {
    background: transparent;
    border: 5px dashed blue;
  }
}

.html-overlay__item {
  @apply absolute cursor-pointer;
  border: 5px solid white;
  box-sizing: content-box;
  margin: -5px;
  &.sm-boss, &.sm-map, &.sm-chozo {
    background: none;
  }
  &.sm-boss {
    border-color: red;
  }
  &.sm-chozo {
    border-color: blue;
  }
  &.sm-map {
    border-color: #8F8;
  }
}

.map-editor {
  .html-overlay__item {
    cursor: pointer;
    position: absolute;
    &.sm-item {
      border-color: purple;
    }
  }
  .oob-fix {
    cursor: pointer;
  }
  /* &.-overzoomed .html-overlay__item { */
  /*   border: 0; */
  /* } */
}



.selected-room {
  @apply absolute bottom-0 p-2 right-0;
  background: var(--bg);
  max-width: 400px;
}

.accordion {
  &__header {
    @apply cursor-pointer px-4 py-2;
    background: var(--bg-alt);
    border-bottom: var(--bg) 1px solid;
  }
}