@import "./sm.scss";

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.viewer-wrapper, .osd-wrapper {
  height: 100%;
  width: 100%;
}

.viewer-toolbar, .viewer-panel__buttons {
  bottom: 0;
  display: flex;
  font-size: 2rem;
  left: 0;
  position: fixed;
  .fa {
    font-size: 1.5rem;
    line-height: 32px;
  }
}

.viewer-toolbar {
  &__tool {
    @apply relative;
    &:hover .viewer-toolbar__children {
      @apply block;
    }
  }
  &__children {
    @apply absolute flex flex-col hidden left-0;
    bottom: 100%;
    &.-menu {
      @apply bg-white p-4;
      font-size: 1rem;
    }
  }
}

.hover-box {
  border: var(--border-width) solid white;
  position: absolute;
}

.item-box {
  border: var(--border-width) solid white;
  cursor: pointer;
  position: absolute;
}

.selected-item {
  background: white;
  border-radius: 0.25rem;
  cursor: default;
  padding: 0.5rem;
  .fa-trash {
    cursor: pointer;
  }
  &__picker {
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 16rem;
    .sm-item {
      cursor: pointer;
      &.-selected {
        outline: 3px solid black;
      }
    }
  }
}

.viewer-panel__buttons {
  left: unset;
  right: 0;
  .btn {
    position: relative;
    .flaire {
      align-items: center;
      background: red;
      border-radius: 100%;
      display: flex;
      font-size: 0.5em;
      height: 1.5em;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5em;
    }
  }
}

.viewer-panel {
  background: white;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 52px;
  position: absolute;
  right: 0;
  width: 300px;
  &.-tracker {
    height: 200px;
    font-size: 2rem;
    padding: 1rem;
    width: 430px;
  }
  &.-list, &.-room {
    top: 0;
  }
  .tracker__grid {
    .tracker__row {
      display: flex;
      gap: 0.25rem;
      margin-bottom: 0.5rem;
      .sm-item {
        position: relative;
        filter: grayscale(1);
        opacity: 0.5;
        &.has {
          filter: unset;
          opacity: unset;
        }
        .flaire {
          background: black;
          bottom: 0;
          color: white;
          font-size: 0.4em;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .list-group-item {
    gap: 0.5rem;
  }
}

.sprite-gallery {
  font-size: 3rem;
  .modal-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.osd {
  &__mouse-tracker {
    inset: 0;
  }
  &__drag-box {
    border: var(--border-width) solid white;
    position: absolute;
  }
}

.selected-room {
  @apply absolute bottom-0 bg-white p-2 right-0;
  max-width: 400px;
}

.accordion {
  &__header {
    @apply bg-gray-100 cursor-pointer px-4 py-2;
  }
}