.panel-screenshot {
  @apply relative;
  &__buttons {
    @apply absolute bottom-0 flex gap-2 justify-between p-2 w-full;
    background: rgba(0,0,0,0.75);
  }
}

.dread-anchor {
  @apply absolute cursor-pointer border border-white;
  &:hover {
    border-width: 4px;
    border-style: dashed;
  }
  &.ur-dragging {
    border: 0
  }
}

.__debug {
  @apply absolute bottom-0 flex left-0;
  .w-48 {
    width: 12rem;
  }
}

.dread-viewer {
  background: white;
}