.ur-files {
  overflow-y: hidden;
  &__content {
    @apply flex h-full w-full;
  }
  &__file-list {
    @apply flex flex-wrap h-full overflow-y-scroll w-full;
  }
  &__file-wrapper {
    @apply p-2 w-1/4;
  }
  &__file {
    @apply border cursor-pointer flex flex-wrap p-2 relative rounded;
    &:hover {
      background: var(--bg-alt);
      ._preview-wrapper {
        background: repeating-conic-gradient(#808080 0% 25%, white 0% 50%) 50% / 20px 20px;
      }
    }
    ._preview {
      @apply absolute h-full left-0 top-0 w-full;
      background: center no-repeat;
      background-size: contain;
      image-rendering: pixelated;
    }
    ._preview-wrapper {
      @apply relative w-full;
      &:before {
        content: '';
        display: block;
        padding-top: 50%;
      }
    }
    ._actions {
      @apply absolute right-0 top-0;
    }
  }
  &__selected {
    flex-basis: 75%;
    overflow: scroll;
    ._image {
      width: 100%;
      height: 100%;
    }
    img {
      max-width: unset;
    }
  }
  ._flex-clear {
    flex-basis: 100%;
  }
  .fa-folder {
    @apply mr-2;
  }
}

.ur-files.-has-selected .ur-files {
  &__file-list {
    flex-basis: 25%;
  }
  &__file-wrapper {
    @apply w-full;
  }
}

.ur-files {
  &__breadcrumbs {
    @apply flex items-center p-4;
  }
  &__folder-dropdown {
    @apply relative ml-4;
  }
}