.osd-zoom-controls {
  @apply absolute mx-4 top-0;
  width: 2rem;
  &__track {
    @apply absolute bg-white cursor-pointer top-0 h-full;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
  }
  &__current {
    @apply absolute bg-white;
    height: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
}