.power-suit__inner {
  @apply absolute flex inset-0;
}

.power-suit__rect {
  @apply absolute cursor-pointer;
  border-radius: 1px;
  &.-in-sprite {
    @apply border border-green-400;
  }
  &.-used {
    @apply border-2 border-gray-600;
  }
  &:hover {
    box-shadow: 0 0 0 2px white;
  }
  &:before {
    @apply absolute;
    left: 100%;
    content: attr(data-i);
  }
}

.power-suit__frames {
  @apply flex flex-wrap;
}

.power-suit__sprite, .power-suit__spritesheet {
  max-width: 450px;
  overflow: auto;
  img {
    image-rendering: pixelated;
    max-width: unset;
  }
}

.power-suit__align-frame {
  @apply relative;
  .power-suit__align-hitbox {
    @apply absolute border border-white cursor-pointer;
    height: 40px;
    width: 40px;
  }
}

.power-suit__left {
  height: 100%;
  overflow-y: scroll;
}

.power-suit__spritesheet {
  @apply relative mx-8;
}