$items: morph-ball bomb screw-attack missile super-missile energy-tank energy2-tank varia-suit space-jump power-bomb high-jump speed-booster pedastool reserve-tank x-ray spring-ball grappling-hook charge-beam spazer wave-beam ice-beam plasma-beam gravity-suit;

.sm-item, .sm-room, .sm-map, .sm-chozo, .sm-door {
  background-size: 100% auto;
  display: inline-block;
  height: 1em;
  image-rendering: pixelated;
  width: 1em;
}

.sm-chozo {
  background-image: url("/sm/chozo.png");
}

.sm-item {
  background-image: url("/sm/items.png");
  @for $i from 0 to length($items) {
    $name: nth($items, $i + 1);
    &.-#{"" + $name} {
      background-position: 0 $i * 2 * -100%;
    }
    &.-#{"" + $name}-alt {
      background-position: 0 ($i * 2 + 1) * -100%;
    }
  }
}

.sm-map {
  $icons: save map energy missile boss elevator;
  background-image: url("/sm/map_icons.png");
  background-size: auto 100%;
  @for $i from 0 to length($icons) {
    $name: nth($icons, $i + 1);
    &.-#{"" + $name} {
      background-position: $i * -100% 0;
    }
  }
  &.-ship {
    background-position: right 0;
    width: 2em;
  }
}

.sm-door {
  $colors: green blue orange red purple brown;
  @for $i from 0 to length($colors) {
    $name: nth($colors, $i + 1);
    &.-#{"" + $name} {
      background: $name;
    }
  }
  &.-eye {
    background: gray;
  }
}


$zone-colors: (
  "crateria": #d83890,
  "brinstar": #017e13,
  "wrecked-ship": #d1b102,
  "maridia": #283888,
  "norfair": #d42020,
  "tourian": #991b8c,
  "void": #000000,
);

@mixin room($name, $color) {
  &.-#{"" + $name} {
    background: $color;
    fill: $color;
    &.-selected {
      /* background: linear-gradient(45deg, transparent 25%, $color 25%, $color 50%, transparent 50%, transparent 75%, $color 75%, $color 100%); */
    }
  }
}

.sm-room {
  border: #a0f8f8 0.125em solid;
  stroke: #a0f8f8;
  stroke-width: 0.0001;
  @each $name, $color in $zone-colors {
    @include room($name, $color);
  }
  &.-void {
    border: 0;
  }
  &.-elevator {
    background: black url("/sm/elevator.png");
    border: 0;
    background-size: 100% auto;
  }
  &.-absolute {
    position: absolute;
  }
  &.-selected {
    border-style: dashed;
    border-width: 0.5em;
  }
  &.br0 {
    border-right: 0;
  }
  &.bl0 {
    border-left: 0;
  }
  &.bt0 {
    border-top: 0;
  }
  &.bb0 {
    border-bottom: 0;
  }
  &.-style-mini {
    background: transparent;
  }
}
