@use "sass:color";

.sm-room-box {
  background-size: cover;
  &.-mode-overlap, &.-mode-item {
    position: relative;
  }
  canvas {
    display:none;
    width: 100%;
    height: 100%;
  }
  .-tool-edit_room &:hover {
    outline: 2px solid white;
  }
}

.osd-html__overlay .sm-item {
  @apply absolute;
  &:before {
    @apply absolute bg-black;
    outline: 1px solid white;
    .-zoom-0 & {
      inset: -200%;
    }
  }
}

.sm-zone-box {
  &__move {
    outline: 1px solid gray;
  }
}

.sm-zone-box, .sm-room-box {
  @apply absolute;
  .unrest-draggable {
    @apply absolute cursor-pointer inset-0;
    background-size: 100% auto;
  }
}

.sm-elevator, .sm-item {
  @apply relative inline-block;
  height: 1em;
  width: 1em;
  &:before {
    @apply absolute inset-0;
    background-size: 100% auto;
    content: "";
    image-rendering: pixelated;
  }
}

.sm-elevator {
  @each $z in brinstar, tourian, maridia, norfair, {
    &.-#{$z}:before {
      background-image: url("/static/sm/elevator__#{$z}.png");
    }
  }
  .btn &:before {
    inset: -50%;
  }
  .-zoom-0 .osd-html__overlay &:before {
    image-rendering: unset;
  }
}

$items: morph-ball bomb screw-attack missile super-missile energy-tank energy2-tank varia-suit space-jump power-bomb hi-jump-boots speed-booster pedastool reserve-tank x-ray spring-ball grappling-hook charge-beam spazer-beam wave-beam ice-beam plasma-beam gravity-suit;

.sm-item {
  &:before {
    background-image: url("/static/sm/items.png");
  }
  @for $i from 0 to length($items) {
    $name: nth($items, $i + 1);
    &.-#{"" + $name}:before {
      background-position: 0 $i * 2 * -100%;
    }
    &.-#{"" + $name}-alt:before {
      background-position: 0 ($i * 2 + 1) * -100%;
    }
  }
  &.-confused:before {
    background-image: url("/static/sm/confused.png");
    background-position: unset;
  }
}

$ascent-items: weapons-tank shinespark boost-ball;
.sm-item {
  @for $i from 0 to length($ascent-items) {
    $name: nth($ascent-items, $i + 1);
    &.-#{"" + $name}:before {
      background-image: url("/static/sm/ascent-items.png");
      background-position: 0 $i * -100%;
    }
  }
}

$zone-colors: (
  "crateria": #d83890,
  "brinstar": #017e13,
  "wrecked-ship": #d1b102,
  "maridia": #283888,
  "norfair": #d42020,
  "tourian": #991b8c,
  "void": #000000,

  /* Super Zero Mission */
  "ridley": #5c152b,
  "chozodia": #d1b102,
  "kraid": #044f60,
  "pirate-ship": #283f63,

  /* Ascent */
  "zone-1": #d83890,
  "zone-2": #d1b102,
  "zone-3": #d42020,

  /* Vitality */
  "pendulu-moda": #017e13,
  "tag-lacora": #283888,
  "tchornobog": #044f60,
  "akhlys": #d42020,
  "andavald": #991b8c,
  "elseq": #5c152b,

  /* Cliffhanger */
  "eldridge": #585c65,
  "surripere": #283888,
  "melkabah": #991b8c,
  "juolbrin": #017e13,
  "melfad": #991b8c,
  "keruarn": #5c152b,
);

.sm-room-svg {
  @apply overflow-visible relative;
  /* pointer-events: none; */
  rect, path {
    vector-effect: non-scaling-stroke;
  }
  path {
    fill: transparent;
    stroke: transparent;
    &.-inner {
      display: none;
      pointer-events: none;
    }
    &.-outer {
      stroke-width: 3px;
      &:hover {
        stroke-width: 6px;
        stroke: white;
      }
    }
  }
  line {
    stroke: #0f0;
    stroke-width: 0.0625;
    pointer-events: none;
    &:last-child {
      stroke: #f00;
    }
  }
}

.-layer-rooms .sm-room-svg path.-outer {
  stroke: #0f0;
  @each $name, $color in $zone-colors {
    &.-zone-#{$name} {
      stroke: $color;
      &:hover {
        stroke: white;
      }
    }
  }
}

.-layer-walls .sm-room-svg path.-inner {
  display: unset;
  fill: rgba(128, 255, 128, 0.75);
  @each $name, $color in $zone-colors {
    &.-zone-#{$name} {
      stroke: $color;
      fill: color.change($color, $alpha: 0.75);
    }
  }
}

/* everything below here is from the old editor and will eventually be removed */
.sm-room, .sm-map, .sm-chozo, .sm-door {
  background-size: 100% auto;
  display: inline-block;
  height: 1em;
  image-rendering: pixelated;
  width: 1em;
}

.sm-chozo {
  background-image: url("/static/sm/chozo.png");
}

.sm-map {
  $icons: save map energy missile boss elevator;
  background-image: url("/static/sm/map_icons.png");
  background-size: auto 100%;
  @for $i from 0 to length($icons) {
    $name: nth($icons, $i + 1);
    &.-#{"" + $name} {
      background-position: $i * -100% 0;
    }
  }
  &.-ship {
    background-position: right 0;
    width: 2em;
  }
}

.sm-door {
  $colors: green blue orange red purple brown;
  @for $i from 0 to length($colors) {
    $name: nth($colors, $i + 1);
    &.-#{"" + $name} {
      background: $name;
    }
  }
  &.-eye {
    background: gray;
  }
  &.-elevator {
    background: #d8c800;
    border-radius: 100%;
    transform: scaleY(0.3);
  }
}


@mixin room($name, $color) {
  &.-#{"" + $name} {
    background: $color;
    fill: $color;
    .map-editor.-has-selected-room &:not(.-selected) {
      opacity: 0.5;
      background: linear-gradient(45deg, transparent 25%, $color 25%, $color 50%, transparent 50%, transparent 75%, $color 75%, $color 100%);
    }
  }
}

.sm-room {
  border: #a0f8f8 0.125em solid;
  stroke: #a0f8f8;
  stroke-width: 0.0001;
  @each $name, $color in $zone-colors {
    @include room($name, $color);
  }
  &.-void {
    border: 0;
  }
  &.-elevator {
    background: url("/static/sm/elevator.png");
    border: 0;
    background-size: 100% auto;
    opacity: 0.5;
    &.-selected {
      opacity: 1;
    }
  }
  &.-absolute {
    position: absolute;
  }
  &.-selected, &.-draft {
    border-style: dashed;
    border-width: 0.5em;
  }
  &.-draft {
    border-color: #ff8;
  }
  &.br0 {
    border-right: 0;
  }
  &.bl0 {
    border-left: 0;
  }
  &.bt0 {
    border-top: 0;
  }
  &.bb0 {
    border-bottom: 0;
  }
  &.-style-mini {
    background: transparent;
  }
}

.sm-config-popper {
  @apply border p-2;
  background: var(--bg);
  label {
    @apply block;
  }
}