.app-sm-assign {
  &__image {
    @apply relative mb-4;
  }
  &__image-bar {
    @apply absolute flex items-center top-0 left-0;
    width: 100vw;
  }
}

.app-downloads {
  &__flexy {
    @apply flex flex-wrap gap-2 mb-12;
  }
  &__size-links {
    @apply flex flex-wrap gap-x-4 gap-y-2 justify-center;
  }
  &__card {
    @apply border p-4 rounded;
  }
  &__card-name {
    @apply text-lg;
  }
  &__card-content {
    @apply flex flex-col items-center gap-2;
    text-align: center;
    width: 256px;
  }
  &__img {
    @apply flex items-center justify-center;
    height: 256px;
    width: 256px;
    img {
      max-height: 100%;
      max-width: 100%;
      &:hover {
        background: repeating-conic-gradient(#808080 0% 25%, white 0% 50%) 50% / 32px 32px;
      }
    }
    &.-half {
      height: 128px;
    }
  }
  p {
    max-width: 650px;
  }
}

.app-contact {
  @apply flex items-center justify-center w-full;
  &__form {
    @apply border p-4;
    width: 400px;
    textarea {
      height: 200px;
    }
  }
}

.app-about {
  @apply flex items-center justify-center w-full;
  &__inner {
    @apply border p-4;
    width: 600px;
  }
}

.smile-ocr {
  img {
    height: 50px;
    image-rendering: pixelated;
  }
  &__inputs {
    @apply flex gap-2;
    input {
      @apply bg-white text-black w-8;
    }
  }
}

.sm-plm-enemies {
  @apply overflow-scroll;
  &__top {
    @apply inline-flex gap-4 left-0 p-2 items-center sticky top-0;
    background: var(--bg-alt);
    z-index: 11; /* children are set between 0-10 */
    ._deleted {
      @apply flex gap-2;
    }
  }
  &__workarea {
    @apply relative;
    img {
      max-width: unset;
      image-rendering: pixelated;
    }
  }
  &__wrapper {
    @apply inline-block relative;
  }
  &__cropped {
    @apply absolute;
    outline: 1px solid white;
    &:hover {
      opacity: 0.5;
      outline: 5px double white;
      filter: invert(1);
    }
  }
  &__grid {
    @apply absolute inset-0;
    pointer-events: none;
  }
}

.smile-compare {
  ._cell {
    &.-green {
      @apply bg-green-600;
    }
    &.-yellow {
      @apply bg-yellow-500;
    }
    &.-orange {
      @apply bg-yellow-700;
    }
    &.-red {
      @apply bg-red-600;
    }
  }
}

.plm-snap {
  @apply absolute inset-0;
  z-index: 11; /* images can be 0-10 */
  &__dragging {
    @apply absolute border border-white;
  }
  &__preview {
    @apply fixed top-0 right-0;
    img {
      @apply bg-black border border-white;
      image-rendering: pixelated;
    }
  }
}

#geo-box {
  @apply relative;
  height: 80px;
  width: 80px;
  .admin-smile-sprite__img {
    @apply absolute;
    pointer-events: none;
    top: 8px;
    left: 8px;
    z-index: 1;
  }
  &:hover .admin-smile-sprite__img {
    display: none;
  }
  .geo-box__buttons {
    @apply absolute;
    left: 100%;
    top: 0;
    width: 150px;
  }
}

.admin-smile-sprite {
  &__cards {
    @apply cursor-pointer flex flex-wrap gap-2 p-2 select-none;
  }
  &__card {
    @apply border flex gap-2 items-center rounded-lg;
  }
  &__preview {
    @apply flex gap-2 items-center mb-2;
    svg {
      overflow:visible;
    }
  }
  &__img {
    @apply h-16 w-16;
    background: no-repeat center;
    background-size: contain;
    image-rendering: pixelated;
  }
  &__last {
    @apply fixed bottom-0 p-2 right-0;
    background: var(--bg-alt);
  }
  .modal-footer {
    @apply justify-between;
    .fa {
      @apply cursor-pointer flex items-center justify-center rounded-full h-8 w-8;
      background: var(--bg-alt);
    }
  }
  &__room-list {
    max-height: 300px;
    overflow-y: auto;
  }
}