.viewer-toolbar__children,
.html-overlay__screen-mask,
.osd__svg {
  z-index: 1;
}

.map-editor.-has-selected-room .html-overlay__screen-mask:not(.-selected) {
  pointer-events: none;
  z-index: 2;
}

.html-overlay__item,
.osd__mouse-tracker {
  z-index: 2;
}

.viewer-panel,
.viewer-toolbar,
.selected-room,
.selected-item, {
  z-index: 3
}

.oob-fix {
  z-index: 4
}

.html-overlay__screen-mask.-void {
  z-index: 0;
  background: red !important;
}

.ur-dropdown .dropdown-items,
.ur-dropdown .ur-popper,
.unrest-floating-actions,
.ur-toolbar {
  z-index: 200;
}
